; Example SEEDS experiment configuration for Rock-Paper-Scissors example

# The Rock-Paper-Scissors sample experiment examines a population of
# Rock-Paper-Scissors players (cells).  Each player plays one strategy.
# Players compete against a randomly-selected neighbor.  When a player is
# defeated, that cell is replaced by the victor's stragegy.  Although this
# non-transitive system should maintain all three populations, the environment
# in which it is played can have a large effect.  For example, it is possible
# to observe the loss of one strategy (which is followed by the loss of
# another) when the number of neighbors is increased (via the
# expected_neighbors parameter in the CartesianTopology section).  Lowering the
# population size can have similar effect.

# This experiment is configured to print the count of each strategy at each
# epochs (see the PrintCellTypeCount section) and print the location and type
# of each cell every 100 epochs (see the PrintCellLocations section).  Further,
# this experiment will stop once there are fewer than 3 strategies being
# played (see the StopOnConvergence section).

# Created By: Brian Connelly
# Date: 2011-04-01

[Experiment]
epochs = 1000
actions = PrintCellTypeCount,PrintCellLocations,StopOnConvergence
data_dir = data
plugin_dirs = plugins

[Population]
topology = CartesianTopology
cell = RPSCell

[RPSCell]
distance_dependent = False

[CartesianTopology]
size = 2500
periodic = True
expected_neighbors = 10
remove_disconnected = False

[PrintCellTypeCount]
frequency = 1

[PrintCellLocations]
frequency = 100

[StopOnConvergence]
threshold = 3

